@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/RobotoRegular/RobotoRegular.woff") format("woff");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/RobotoBold/RobotoBold.woff") format("woff");
}

@font-face {
  font-family: "CleanvertisingLight";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/CleanvertisingLight/CleanvertisingLight.woff") format("woff");
}
